* {
	text-decoration: none;
}

body {
	background: #f6f6f6;
}

.childrenContainer {
  // padding-left: 200px;
  // padding-top: 64px;
}

.slider-control div div div:first-child {
    background-color: red !important;
}